<html>

<head>

    <% include layout %>
    <link rel="stylesheet" href="/stylesheets/jobs.css">
</head>

<body>
    <% include includes/nav %>
    <div class="banner">
        <div class="bannerbg">
            <div class="title">
                <h4 align="center">SEARCH FOR THE JOB THAT YOU ARE LOOKING FOR</h4>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="table-container">
            <table class="striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Position</th>
                        <th>Job Code</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Age Limit</th>
                        <th>Qualification</th>
                        <th>Gender</th>
                        <th>Exp(Yrs)</th>
                        <th>Action</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair thsi isdf some position</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                        <td>
                        <td><a class="waves-effect waves-light btn-small">Apply Now</a></td>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <% include includes/footer %>
</body>

</html>